
.home-header {
    margin-top: 100px;
    background-color: $lightblue;
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-featured-game {
    height: 350px;
    background-color: salmon;
    padding-right: 0;
}
.header-featured-game-info {
    height: 350px;
    background-color: darkolivegreen;
    padding-left: 0;
}