// Padding
.p-0-r {
    padding-right: 0;
}
.p-0-l {
    padding-left: 0;
}
.p-btm-0 {
    padding-bottom: 0;
}
.space {
    padding-top: 30px;
    padding-bottom: 30px;
}
.space-tiny {
    padding-top: 5px;
    padding-bottom: 5px;
}
.space-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

// Margins
.m-btm-0 {
    margin-bottom: 0;
}
